/.idea
/app.py
/cohort.py
/consolidation.py
/containers.py
/data.py
/data_upload.py
/exp_allocation.py
/exp_allocation_v2.py
/interco.py
/job_profit.py
/rand_no.csv
/__pycache__
/Not Working
/test.py
/Tables.xlsx